body {
    background: rgb(238,157,4);
    background: linear-gradient(90deg, rgba(238,157,4,1) 0%, rgba(173,42,42,1) 45%, rgba(31,130,247,1) 100%);
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.playerX {
    color:rgb(25, 237, 145);
}

.playerO {
    color:rgb(18, 177, 240);
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

#reset {
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
}